ul {
  margin: 0;
  padding: 0;
}

nav {
  unicode-bidi: isolate;
}

.sidebar {
  padding-top: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 54px;
  background-color: white;
  width: 72px;
  z-index: 200;
}

.sidebar-link {
  height: 74px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 3px;
}

.sidebar-link a {
  font-family: Roboto, Arial;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  color: black;
}